<header class="header">
    <a href="#" class="logo">Portfolio</a>
    <i class='bx bx-menu' id="menu-icon"></i>
    <nav class="navbar">
    <a href="#home" class="active">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#contact">Contact</a>
    </nav>
</header>

<section class="home" id="home">
  <div class="home-content">
    <h3>Hello, It's Me</h3>
    <h1>Thabang Sekgotodi</h1>
    <h3>And I'm a <span>Frontend Developer</span></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam rem, non sint
      labore sit dolorum dignissimos, doloremque voluptatibus alias eaque nemo eius neque reiciendis saepe.
       Quisquam impedit adipisci reprehenderit sed!</p>
       <div class="social-media">
        <a href="#"><i class='bx bxl-facebook' ></i></a>
        <a href="#"><i class='bx bxl-twitter'></i></a>
        <a href="#"><i class='bx bxl-instagram'></i></a>
        <a href="#"><i class='bx bxl-linkedin'></i></a>
       </div>
       <a href="#" class="btn"> Download CV</a>
  </div>

  <div class="home-img">
    <img src="assets/tbang_portfolio.jpg">
  </div>
</section>

<section class="about" id="about">
  <div class="about.img">
<img  src="assets/tbang_portfolio.jpg">
  </div>
  <div class="about-content">
    <h2 class="heading"> About <span>Me</span></h2>
    <h3>Frontend Development</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit inventore,
       possimus consectetur perferendis nulla consequatur accusamus placeat magnam,
      fugiat cupiditate quia reprehenderit dicta esse excepturi cumque,
       quas debitis provident doloremque? </p>
       <a href="#" class="btn">Read More</a>
  </div>
</section>
